html{
    background-image: url("http://wallpaperscraft.com/image/71042/2560x1440.jpg?orig=3");
    background-size:1800px;
    font-family: sans-serif;
    
}
body{
    color: White;
}
a{
    text-decoration: none;
color: White;
}

ul{
    list-style: none;
   
}
li{
    display: inline;
    padding-right: 50px;

}
p,
h2{
    padding: 10px;
}

#menu,
#right,
#content,
#left{
    border: 1px rgba(0,0,0,.4);
    border-radius: 10px;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,.4);

}
#menui{
 position: absolute;
 left:250px;
 top: 45px;
}
#content{
    position: absolute;
    left: 50%;
    margin-left: -400px;
    top: 25%;
    color: White;
    width: 800px;
    height: 400px;
}

#right,
#left{
    position: absolute;
    width: 300px;
    height: 200px;
    top: 25%;
}

#right{
    right:10%;
}
#left{
    left: 10%;
}
#buttons li{
    display: block;
    background-color: #e09f40;
    border: white;
    border-radius: 10px;
    width: 75px;
    height: 20px;
    margin: 5px;
    margin-bottom: 30px;
    text-align: center;
    line-height: 20px;
}
#buttons a{
    color: White;
}
#copyright{
    position: absolute;
    bottom: 15px;
    width: 100%;
    height: 20px;
    font-size: 10px;
    text-align: right;
}
#box{
    position: absolute;
    left: 50%;
    margin-left: -600px;
    top: 25%;
    color: White;
    width: 1200px;
    height: 800px;
}


