<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/homestyle.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,400italic,700' rel='stylesheet' type='text/css'>
    <meta charset="UTF-8">
    <title>Yum Yuk</title>
</head>

<body>
<div id= "menu">
<img src="../static/images/forklogo.png" alt="">
<ul>
    <li>
        <a href="base.html"> <h1>YumYuk</h1> </a>
    </li>
    <div id="menuguy">
    <li>
        <a href= about.html><h1>About</h1></a>
    </li>
    </div>
</ul>
</div>
<div id="about">

<h1>About</h1>
<p>
    Here at Yum Yuk we are passionate about your food horizons. We use the preferences of people to create
    food profiles of all the food our customers like, and then compare.</p> <p>Based on your similarity with that of other
    user profiles we reccomend foods that you may have never tried. If you haven't signed up already, sign in on our homepage and
    we'll get you started on expanding your food horizons.
</p>
</div>

<div id="copyright">
    <p>
        &copy; copyright 2014 all rights reserved.
    </p>
</div>
</body>
</html>
