<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../css/style.css">
    <title>Peach Pitch</title>
</head>

<body>
<div id= "menu">
<ul>
    <li>
        <a href="../index.html"><img alt="" src="../images/logowhite.png"></a>
    </li>
    <div id="menui">
    <li>
        <a href= about.html>About</a>
    </li>
    <li>
        <a href="up.html">Sign Up</a>
    </li>
    <li>
        <a href="in.html">Sign In</a>
    </li>
    </div>
</ul>
</div>
<div id="content">
</div>


<div id="copyright">
    <p>
        &copy; copyright 2014 all rights reserved.
    </p>
</div>
</body>
</html>
