<!DOCTYPE html>

<html>
<head>
    <link rel="stylesheet" type="text/css" href="../static/css/main.css">
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Marvel:400,400italic,700' rel='stylesheet' type='text/css'>
    <script language="javascript" src="../static/js/main.js"></script>
    <title>Yum Yuk</title>
</head>
<body>

<div id="fb-root"></div>
<script type="text/javascript">
      
  var preferences= ["Pass","Pass","Pass","Pass"];
  var userid;

  function statusChangeCallback(response) {
    console.log('statusChangeCallback');
    console.log(response);
    // The response object is returned with a status field that lets the
    // app know the current login status of the person.
    // Full docs on the response object can be found in the documentation
    // for FB.getLoginStatus().
    if (response.status === 'connected') {
      FB.api('/me', function(response) {

        userid = response.id;
        alert(userid);
     // window.location = "http://pitchpeaches.appspot.com/survey";
    });
    } else if (response.status === 'not_authorized') {
      // The person is logged into Facebook, but not your app.
    } else {
      // The person is not logged into Facebook, so we're not sure if
      // they are logged into this app or not.
    }
  }

  window.fbAsyncInit = function() {
  FB.init({
    appId      : '1479814855629593',
    cookie     : true,  // enable cookies to allow the server to access 
                        // the session
    xfbml      : true,  // parse social plugins on this page
    version    : 'v2.1' // use version 2.1
  });
  FB.Event.subscribe('auth.login', function () {
    //window.location = "http://pitchpeaches.appspot.com/survey";
  });

  // Now that we've initialized the JavaScript SDK, we call 
  // FB.getLoginStatus().  This function gets the state of the
  // person visiting this page and can return one of three states to
  // the callback you provide.  They can be:
  //
  // 1. Logged into your app ('connected')
  // 2. Logged into Facebook, but not your app ('not_authorized')
  // 3. Not logged into Facebook and can't tell if they are logged into
  //    your app or not.
  //
  // These three cases are handled in the callback function.

  FB.getLoginStatus(function(response) {
    statusChangeCallback(response);
  });

  };
     // Load the SDK asynchronously
(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/en_US/sdk.js";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));

  function fbLogoutUser() {
    FB.getLoginStatus(function(response) {
        if (response && response.status === 'connected') {
            FB.logout(function(response) {
                window.location = '/';
            });
        }
    });
}
  // store the selections of this user for this food in the database
  function storeSelections(){
    $.ajax({
      type: 'POST',
      contentType: "application/json; charset=utf-8",
      data: JSON.stringify({uid: userid, pref: preferences}),
      url: "/getMoreQuiz",
      success: function (data){
        //console.log(data.username);
      },
      error : function(xhr, exception){
        console.log(exception.toString());
      }, 
      dataType: "json"
    });
  }
</script>

<div id= "menu">
<img src="../static/images/forklogo.png" alt="">
<ul>
    <li>
       <a href="base.html"> <h1>YumYuk</h1> </a>
    </li>
    <div id="menui">
    <li>
        <a href="about.html" style="font-size:32px;">About</a>
    </li>
    <li>
        <a href="javascript:fbLogoutUser();" style="font-size:32px;">Log Out</a>
    </li>
    </div>
</ul>
<div id="pitch"><a href=pitch.html><h1>Reccomend!</h1></a></div>
</div>
<script type="text/javascript">    var preferences= new Array ("Pass","Pass","Pass","Pass");</script>
<div id="box">
<div id="tr" class="pass"><img class="yummy" src={{ lst[0] }}>
<div id="1" class="yes"><a><button onclick="afunction1()">
    <h2 id>Yum</h2></button></a></div>
<script>
        function afunction1() {
       document.getElementById("1").style.backgroundColor="green";
       document.getElementById("2").style.backgroundColor="rgb(214,127,0)";
       document.getElementById("3").style.backgroundColor="rgb(214,127,0)";
       document.getElementById("4").style.backgroundColor="rgb(214,127,0)";
       document.getElementById("tr").className="Yum";
       preferences[0]="Yum";
       
    
       
    }
</script>
<div class="no" id="2">
     <a>
    <button onclick="afunction2()"><h2>Yuk</h2></button></a>
</div>
<script>
        function afunction2() {
       document.getElementById("2").style.backgroundColor="red";
       document.getElementById("1").style.backgroundColor= "rgb(214,127,0)";
       document.getElementById("3").style.backgroundColor="rgb(214,127,0)";
       document.getElementById("4").style.backgroundColor="rgb(214,127,0)";
       document.getElementById("tr").className="Yuk";
       preferences[0]="Yuk";
    }
</script>
<div class="idk" id="3">
    <a><button onclick="afunction3()"><h2>Pass</h2></button></a>
</div>
<script>
        function afunction3() {
        document.getElementById("2").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("1").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("3").style.backgroundColor="grey";
        document.getElementById("4").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("tr").className="Pass";
        preferences[0]="Pass";
       
    }
</script>
<div class="meh" id="4">
    <a><button onclick="afunction4()"><h2>Meh</h2></button></a>
</div>

</div>
<script>
        function afunction4() {
        document.getElementById("2").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("1").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("3").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("4").style.backgroundColor="yellow";
        document.getElementById("tr").className="Meh";
        preferences[0]="Meh";
    
       
    }
</script>
<div id="tl"><p><img class="yummy"  src={{ lst[1] }}></p>
<div class="yes" id="5"><a>
    <button onclick="afunction5()"><h2>Yum</h2></button></a></div>
   <script>
        function afunction5() {
        document.getElementById("5").style.backgroundColor="green";
        document.getElementById("6").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("7").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("8").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("tl").className="Yum";
        preferences[1]="Yum";
       
    }
</script>
<div class="no" id="6">
    <a>
    <button onclick="afunction6()"><h2>Yuk</h2></button></a>
</div>
<script>
        function afunction6() {
        document.getElementById("5").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("6").style.backgroundColor= "red";
        document.getElementById("7").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("8").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("tl").className="Yuk";
        preferences[1]="Yuk";
    
       
    }
</script>
<div class="idk" id="7">
   <a><button onclick="afunction7()"><h2>Pass</h2></button></a>
</div>
<script>
        function afunction7() {
        document.getElementById("5").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("6").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("7").style.backgroundColor="grey";
        document.getElementById("8").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("tl").className="Pass";
        preferences[1]="Pass";
    
       
    }
</script>
<div class="meh" id="8">
    <a><button onclick="afunction8()"><h2>Meh</h2></button></a>
</div>
<script>
        function afunction8() {
        document.getElementById("5").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("6").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("7").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("8").style.backgroundColor="yellow";
        document.getElementById("tl").className="Meh";
        preferences[1]="Meh";
    
       
    }
</script>
</div>

<div id="br"><p><img class="yummy"  src={{ lst[2] }}></p>
<div class="yes" id="9"><a><button onclick="afunction9()">
    <h2>Yum</h2></button></a></div>
<script>
        function afunction9() {
        document.getElementById("9").style.backgroundColor="green";
        document.getElementById("10").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("11").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("12").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("br").className="Yum";
        preferences[2]="Yum";
        
    
       
    }
</script>
  <div class="no" id="10"><a>
    <button onclick="afunction10()"><h2>Yuk</h2></button></a></div>
  <script>
        function afunction10() {
        document.getElementById("9").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("10").style.backgroundColor= "red";
        document.getElementById("11").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("12").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("br").className="Yuk";
        preferences[2]="Yuk";
    
       
    }
</script>
<div class="idk" id="11">

    <a><button onclick="afunction11()"><h2>Pass</h2></button></a>
</div>
<script>
        function afunction11() {
        document.getElementById("9").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("10").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("11").style.backgroundColor="grey";
        document.getElementById("12").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("br").className="Pass";
        preferences[2]="Pass";
    
       
    }
</script>

<div class="meh" id="12">

    <a><button onclick="afunction12()"><h2>Meh</h2></button></a>
</div>
<script>
        function afunction12() {
        document.getElementById("9").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("10").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("11").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("12").style.backgroundColor="yellow";
        document.getElementById("br").className="Meh";
        preferences[2]="Meh";
        
       
    }
</script>
</div>
<div id="bl"><img class="yummy" src={{ lst[3] }}>

<div class="yes" id="13"><a><button onclick="afunction13()">
    <h2>Yum</h2></button></a></div>
<script>
        function afunction13() {
        document.getElementById("13").style.backgroundColor="green";
        document.getElementById("14").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("15").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("16").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("bl").className="Yum";
        preferences[3]="Yum";
    
       
    }
</script>
  <div class="no" id="14">
    
    
<a>
    <button onclick="afunction14()"><h2>Yuk</h2></button></a></div>
  <script>
        function afunction14() {
        document.getElementById("13").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("14").style.backgroundColor= "red";
        document.getElementById("15").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("16").style.backgroundColor="rgb(214,127,0";
        document.getElementById("bl").className="Yuk";
        preferences[3]="Yuk";
    
       
    }
</script>
<div class="idk" id="15">
    
    <a><button onclick="afunction15()"><h2>Pass</h2></button></a>
</div>
<script>
        function afunction15() {
        document.getElementById("13").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("14").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("15").style.backgroundColor="grey";
        document.getElementById("16").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("bl").className="Pass";
        preferences[3]="Pass";
    
       
    }
</script>
<div class="meh" id="16">
    
    <a><button onclick="afunction16()"><h2>Meh</h2></button></a>
</div>
<script>
        function afunction16() {
        document.getElementById("13").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("14").style.backgroundColor= "rgb(214,127,0)";
        document.getElementById("15").style.backgroundColor="rgb(214,127,0)";
        document.getElementById("16").style.backgroundColor="yellow";
        document.getElementById("bl").className="Meh";
        preferences[3]="Meh";
    }
</script>
    
       
</div>
</div>
<div id="sidebar">
    <img alt="" src="../static/images/key.png">
    <h3>Choose The Best Option For Each Picture</h3>
    <h4>Yum = You love it!</h4>
    <h4>Meh = It's okay.</h4>
    <h4>Yuk = You hate it!</h4>
    <h4>Pass = Never had it or no strong opinion.</h4>
</div>

<div id="arrow">
    <a href=""><img alt="" src="../static/images/peacharrow.png">
    <h3 href="javascript:storeSelections();">More</h3></a>
</div>
<div id="copyright">
    <p>
        &copy; copyright 2014 all rights reserved.
    </p>
</div>
</body>
</html>
